{% extends 'twitter_bootstrap.html.twig' %}

{% block content %}

    <h2 class="sub-header">{{ resource.url }}
        <a href="/user/list_resources" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
        </a>
    </h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Content</th>
                <th>Change date</th>
            </tr>
            </thead>
            <tbody>
            {% for val in changes %}
                <tr>
                    <td>{{ val.html|raw }}</td>
                    <td class="col-xs-2">{{ val.date|date("m-d-Y H:i") }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}